@page "/"
@using System.Net.Http
@using System.Globalization
@inject HttpClient Http

<PageTitle>Super</PageTitle>

<div>
     <div class="col-md-6 p-6" hidden="@hideUpload">
        <RadzenCard>
            <h4 class="mb-4">Import Your Super Spreadsheet</h4>
            <RadzenUpload Visible=@showUpload Progress=@TrackProgress Url="file/import" Complete=@OnUploadComplete class="w-100" />
            <RadzenProgressBar Visible=@isUploading Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenCard>
     </div>

    <div class="col-md-12 p-3" hidden="@showEmployeeList">
        <RadzenCard>
            <div>
                <h4>Employee Id:</h4>
                <RadzenListBox @bind-Value=@selectEmployeeId Multiple=false Data=@employeeIds Change="@OnEmployeeListChange" class="w-50" />
            </div>
        </RadzenCard>
    </div>

    <div class="col-md-12 p-3" hidden="@showSuperSummary">
        <RadzenCard>
        @foreach (var ys in yearlySummary)
        {
            <div>
                <RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" 
                 PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" Data="@ys.QuarterlySuperSummarys" TItem="QuarterlySuperSummary" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="QuarterlySuperSummary"  Title="@ys.Year.ToString()" Frozen="true" Width="70px" TextAlign="TextAlign.Center">
                            <Template Context="qs">
                                Q@(qs.Quarter)
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="QuarterlySuperSummary" Property="TotalOte" Title="Total OTE" Frozen="true" Width="140px" TextAlign="TextAlign.Center">
                            <Template Context="qs">
                                $@(qs.TotalOte)
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="QuarterlySuperSummary" Property="TotalSuperPayable" Title="Total Super Payable" Width="140px" TextAlign="TextAlign.Center">
                             <Template Context="qs">
                                $@(qs.TotalSuperPayable)
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="QuarterlySuperSummary" Property="TotalDisbursement" Title="Total Disbursed" Width="200px" TextAlign="TextAlign.Center">
                              <Template Context="qs">
                                $@(qs.TotalDisbursement)
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

                <br>
            </div>
        }
        </RadzenCard>
    </div>
</div>


@code 
{
    // State
    private bool isUploading;

    private bool hideUpload;

    private bool showEmployeeList = true;

    private bool showSuperSummary = true;

    private bool showUpload = true;

    // Model
    string selectEmployeeId;

    IEnumerable<string> employeeIds;
    public List<YearlySuperSummary> yearlySummary = new List<YearlySuperSummary>();

    // Event
    void TrackProgress(UploadProgressArgs args)
    {
        isUploading = true;
        showUpload = false;
    }

    void OnUploadComplete(UploadCompleteEventArgs args)
    {
        var result = args.JsonResponse.Deserialize<FileImportResult>(new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

        employeeIds = result.EmployeeIds.Select(e => e.ToString()).ToList(); // ListBox only works properly with string 

        hideUpload = true;

        showEmployeeList = false;
    }

    async Task OnEmployeeListChange(object value)
    {
        var result = await Http.GetFromJsonAsync<List<GetYearQuarterTotalSuperResult>>($"/employee/{value}/year-quarter-total-super");

        yearlySummary = ConvertSuperResultToSuperSummary(result).ToList();

        showSuperSummary = false;
        //await InvokeAsync(StateHasChanged);
    }

    IEnumerable<YearlySuperSummary> ConvertSuperResultToSuperSummary(List<GetYearQuarterTotalSuperResult> results)
    {
        var summarys = new List<YearlySuperSummary>();

        results.ForEach(r =>
        {
            var yearSummaryIndex = summarys.FindIndex(s => s.Year == r.Year);

            if (yearSummaryIndex != -1)
            {
                summarys[yearSummaryIndex].QuarterlySuperSummarys.Add(new QuarterlySuperSummary
                {
                    Quarter = r.Quarter,
                    TotalOte = r.TotalOte,
                    TotalDisbursement = r.TotalDisbursement,
                    TotalSuperPayable = r.TotalSuperPayable
                });
            }
            else
            {
                summarys.Add(new YearlySuperSummary
                {
                    Year = r.Year,
                    QuarterlySuperSummarys = new List<QuarterlySuperSummary>()
                {
                    new QuarterlySuperSummary
                    {
                        Quarter = r.Quarter,
                        TotalOte = r.TotalOte,
                        TotalDisbursement = r.TotalDisbursement,
                        TotalSuperPayable = r.TotalSuperPayable
                    }
                }
                });
            }
        });

        // Refill missing quarter
        summarys.ForEach(s =>
        {
            for (var i = 1; i < 5; i++)
            {
                if (!s.QuarterlySuperSummarys.Any(q => q.Quarter == i))
                {
                    s.QuarterlySuperSummarys.Add(new QuarterlySuperSummary
                    {
                        Quarter = i,
                        TotalDisbursement = 0.00m,
                        TotalOte = 0.00m,
                        TotalSuperPayable = 0.00m,
                    });
                }
            }
            s.QuarterlySuperSummarys = s.QuarterlySuperSummarys.OrderBy(q => q.Quarter).ToList();
        });

        return summarys.OrderBy(s => s.Year);
    }

    // Class
    public class YearlySuperSummary
    {
        public int Year;
        public List<QuarterlySuperSummary> QuarterlySuperSummarys;
    }

    public class QuarterlySuperSummary
    {
        public int Quarter { get; set; }
        public decimal TotalOte { get; set; }
        public decimal TotalSuperPayable { get; set; }
        public decimal TotalDisbursement { get; set; }
    }
}